executor {
    name   = 'local'
    cpus   = 2
    memory = '8GB'
}

process {
    executor = 'pbspro'
    cpus   = 1
    memory = '8GB'
    time = '10m'
    clusterOptions = '-A st-alexbou-1'
    module = 'gcc/5.4.0:git:singularity:miniconda3'
    scratch = true
    process.conda = './custom-conda-env.yaml'
}

singularity.enabled = true
